@model Assignment_display_department.Tables.Employee

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@using (Html.BeginForm())
{
@Html.LabelFor(x => x.DepartmentId, "Enter Department id  ")
@Html.EditorFor(x => x.DepartmentId)<br /><br />
<input type="submit" class="alert-success" value="Submit" />
}
