<nav class="navbar navbar-expand-sm navbar-dark" style="background-color: #e3f2fd;">
    <a class="navbar-brand"  style="color: darkorange">Angular Assesment</a>
    <div class="collapse navbar-collapse" id="collapsibleNavId" style="position: absolute; left:500px;" >
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                    <a routerLink="/create">Create Department</a>&nbsp;&nbsp;&nbsp;&nbsp;
           </li>
            <li class="nav-item">
                    <a routerLink="/list" >List of Department</a>
            </li>
            
        </ul>
        
    </div>
</nav>
<!-- <router-outlet></router-outlet> -->